<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doxy-Search Admin</title>
</head>
<body>
    <h1>Local Documentations</h1>
    <form action="add/"><button type="submit">Adds new documentation</button></form>
    <table>
        <tbody>
            {% for it in form.data %}
            <tr>
                <td>
                    <table>
                        <tr><th>{{ it.name }}</th></tr>
                        <tr><td><a href="{{ it.search_url }}">{{ it.search_url }}</a></td></tr>
                    </table>
                </td>
                <td>
                    <table>
                        <tr><td>
                            <form action="{{ it.parse_url }}">
                                <button type="submit">Update</button>
                            </form>
                        </td></tr>
                        <tr><td>
                            <form action="{{ it.edit_url }}">
                                <button type="submit">Change</button>
                            </form>
                        </td></tr>
                        <tr><td>
                            <form action="{{ it.delete_url }}">
                                <button type="submit">Delete</button>
                            </form>
                        </td></tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>