<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% if form_type == "add" %}Adding a new search base
    {% elif form_type == "edit" %}Editing the search base
    {% else %}Unknown form
    {% endif %}
    </title>
</head>
<body>
    <h1>Search Base</h1>
    <form method="post" action="make/">
        {% csrf_token %}
        <table>
            <tr>
                <td><label>Name</label></td>
                <td><input type="text" value="{{ name }}" id="name" name="name"/></td>
            </tr>
        </table>
        <p>
        </p>
<!--        <input type="submit" value="Save and Continue" name="save">  -->
        <input type="submit" value="Save and Exit" name="save_exit">
<!--        <input type="submit" value="Save And Add New" name="save_new"> -->
        <input type="submit" value="Exit" name="exit">
    </form>
</body>
</html>
