<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="{{ timeout }};url={{ url }}" />
    <title>Title</title>
</head>
<body>
    <p>
    {% if message == "add_success" %} The search base was added successfully ...
    {% elif message == "delete_success" %} The documentation was deleted successfully ...
    {% elif message == "parse_success" %} The documentation was updated successfully ...
    {% elif message == "file_not_found" %} File '{{ filename }}' not found ...
    {% elif message == "cant_parse_data" %} Unable to parse search data: '{{ description }}'
    {% elif message == "access_deny" %} Operation is unavailable. Access deny ...
    {% elif message == "local_parsing_only" %} Operation is available for local server only ...
    {% else %} Unknown message !
    {% endif %}
    </p>

    <p>Redirection in {{ timeout }} seconds ...</p>
    <p>Or click url <a href="{{ url }}">{{ url }}</a></p>
</body>
</html>
